* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(#1e1527, #442F59) no-repeat;
  color: rgb(241, 239, 239);
}

a{
  text-decoration: none;
  color: inherit;

}
.light{
  background: linear-gradient(#00091c, #3b3bb4) no-repeat;
  
}
.dark{
  background: linear-gradient(#08040d, #8731de) no-repeat;
  
}

.container{
  max-width: 1366px;
  min-height:100vh ;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.theme{
  transition: 1s all ease;
  
}

